<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Buchshop</li>
      <li><%= link_to "Startseite", books_path %></li>
    </ul>
  </div>
</div>